/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 65px;
  padding: 0 152px;
}

.logo-nome {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}
/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso sintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

.menu-items {
  display: flex;
  list-style: none;
}

.menu-item:last-child {
  font-weight: 700;
  font-size: 16px;
  margin-left: 30px;
  cursor: default;
}

.menu-item a {
  text-decoration: none;
  color: #111;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  margin-left: 30px;
  cursor: pointer;
}

/*Sessão Title*/
.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding: 0 152px;
}

.titulo__div {
  font-weight: 700;
  font-size: 52px;
  color: #464646;
  margin-bottom: 24px;
}

.titulo__bio {
  font-weight: 700;
  font-size: 52px;
  color: #464646;
  margin-bottom: 24px;
}

.titulo__subsection {
  font-weight: 400;
  font-size: 22px;
  color: #464646;
  margin-bottom: 26px;
}

.titulo__network {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 60px;
}

.titulo__network__item {
  font-weight: 500;
  font-size: 16px;
}

.titulo__network__item a {
  color: #464646;
  text-decoration: none;
}

.titulo-imagem-perfil img {
  width: 368px;
  height: 368px;
  border-radius: 70%;
}

/*Sessão Sobre*/
section.sobre {
  background-color: #EAF2FD;
  width: 100%;
  padding: 64px 152px;
}

.sobre__titulo {
	font-weight: 700;
	font-size: 32px;
	color: #464646;
	margin-bottom: 16px;
}

.sobre__desc {
	font-weight: 400;
	font-size: 16px;
	color: #464646;
	width: 751px;
	margin-bottom: 30px;
}

.sobre-img {
	margin-top: -15px;
}

/*Sessão Skills e Hobbies*/
section.skills-hobbies-section {
	padding: 32px 152px 88px 152px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills__titulo {
	font-weight: 700;
	font-size: 32px;
	color: #464646;
	margin-bottom: 32px;
}

.skills__line {
  display: flex;
    justify-content: space-evenly;
    gap: 16px;
    margin-bottom: 88px;
}

.skills__box {
	width: 176px;
	height: 174px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 16px;
}

.skills__img img{
	width: 40px;
	height: 32px;

}

/*Sessão Hobbies*/
section.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 88px;
  width: 1300px;
  height: 1245px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.hobbies__titulo {
	margin-left: 500px;
	font-weight: 700;
	font-size: 32px;
	color: #464646;
	margin-bottom: 32px;
}

.hobbies__line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1136px;
  height: 174px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.hobbies__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  width: 176px;
  height: 174px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hobbies__img img {

	width: 40px;
	height: 32px;

}


/* Experiência Acadêmica*/
section.formacao {
  	background-color: #EAF2FD;
    padding: 82px 152px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formacao__titulo {
  font-weight: 700;
    font-size: 32px;
    color: #464646;
    margin-bottom: 32px;
}

.formacao__courses {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.formacao__courses__box {
	width: 100%;
	margin: 0 10px 0 10px;
}

.formacao__courses__item__img img{
	width: 300px;
    height: 250px;
    margin-bottom: 8px;

}


.formation p {
	font-weight: 500;
	font-size: 16px;
	color: #464646;
}

.formation h4 {
	font-weight: 700;
	font-size: 22px;
	color: #464646;
	margin-bottom: 8px;
}

/* experiência*/
section.experiencia {
  padding: 32px 152px;
}

.experiencia__section__titulo {
  font-weight: 700;
    font-size: 32px;
    color: #464646;
    margin-bottom: 32px;
    width: 100%;
    text-align: center;
}

.experiencia__box {
	display: flex;
	align-items: center;
	gap: 26px;
	margin-bottom: 50px;
}

.experiencia__img {
	width: 752px;
	height: 406px;
}

.experiencia__info {
  width: 368px;
}

.experiencia__titulo {
  font-weight: 700;
    font-size: 22px;
    color: #464646;
    margin-bottom: 8px;
}

.experiencia__description {
	font-weight: 500;
	font-size: 16px;
	color: #464646;
	margin-bottom: 8px;
}
.experiencia-btns a {
	display: inline-block;
	width: 116px;
}

.experience-btns a:first-child {
	margin-right: 16px;
}


.experiencia__repo {
  width: 84px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2a7ae4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experiencia__demo {
  width: 73px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experiencia__botao--repo {
  display: inline-block;

		width: 110px;
    height: 51px;
    background-color: transparent;
    color: #2a7ae4;
    border: 1px solid #2a7ae4;
    margin-right: 16px;
    cursor: pointer;
}

.experiencia__botao--demo {
  margin-right: 16px;
	width: 110px;
	height: 51px;
	background-color: #2a7ae4;
	color: #fff;
	border: 1px solid #2a7ae4;
	cursor: pointer;
}


/*Contato*/
.contact-section {
	background-color: #EAF2FD;
	padding: 130px 152px 65px 152px;
	display: flex;
	justify-content: space-evenly;
	gap: 30px;
}

.contact-img {
	width: 464px;
	height: 593px;
}

.contact-infos {
	display: flex;
	flex-direction: column;
}

.contact-title {
	font-size: 32px;
	font-weight: 700;
	color: #464646;
	margin-bottom: 8px;
}

.contact-desc {
	font-weight: 500;
	font-size: 16px;
	color: #464646;
	margin-bottom: 32px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contact-name,
.contact-email,
.contact-subject {
	width: 100%;
	border-radius: 4px;
	border: none;
	box-shadow: 0 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 32px;
	padding: 26.5px 12px 10.5px 12px;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	transition: all ease 0.2s;
}

.contact-name::placeholder,
.contact-email::placeholder,
.contact-subject::placeholder,
.contact-message::placeholder {
	color: #a2a2a2;
	transition: all ease 0.2s;
}

.contact-message {
	resize: none;
	width: 100%;
	height: 123px;
	border-radius: 4px;
	border: none;
	box-shadow: 0 2px rgba(0, 0, 0, 0.2);
	margin-bottom: 32px;
	padding: 26px 12px 0 12px;
	font-size: 16px;
	font-weight: 400;
	outline: none;
}

.contact-name-input,
.contact-email-input,
.contact-subject-input,
.contact-message-input {
	position: relative;
}



.contact-name-placeholder,
.contact-email-placeholder,
.contact-subject-placeholder,
.contact-message-placeholder {
	font-size: 16px;
	font-weight: 400;
	color: #a2a2a2;
	position: absolute;
	top: 18px;
	left: 12px;
	transition: all 0.2s ease;
	pointer-events: none;
}

.contact-name-placeholder.active,
.contact-email-placeholder.active,
.contact-subject-placeholder.active {
	transform: scale(0.75) translateX(-8px) translateY(-20px);
}

.contact-message-placeholder.active {
	transform: scale(0.75) translateX(-13px) translateY(-20px);
}

.contact-name:focus+.contact-name-placeholder,
.contact-email:focus+.contact-email-placeholder,
.contact-subject:focus+.contact-subject-placeholder {
	color: #2a7ae4;
	transform: scale(0.75) translateX(-8px) translateY(-20px);
}

.contact-message:focus+.contact-message-placeholder {
	color: #2a7ae4;
	transform: scale(0.75) translateX(-13px) translateY(-20px);
}

.contact-name:focus,
.contact-email:focus,
.contact-subject:focus,
.contact-message:focus {
	box-shadow: 0 2px #2a7ae4;
}

.contact-btn {
	width: 165px;
	height: 51px;
	background-color: #2a7ae4;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	cursor: pointer;
}

.error {
	color: red;
	display: none;
}

/*footeer*/
section.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 10px;

  width: 1348px;
  height: 102px;

  background: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer__rodape {
  width: 234px;
  height: 38px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #464646;

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Experiência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
