/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /*Insira a variavel das outras cores inspecionando o modelo do figma*/
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--cor-de-fundo);
}

ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 65px;
  padding: 0 152px;
}

.logo-nome {
  display: flex;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
}
/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso sintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

.menu-items {
  display: flex;
  list-style: none;
}

.menu-item:last-child {
  font-weight: 700;
  font-size: 16px;
  margin-left: 30px;
  cursor: default;
}

.menu-item a {
  text-decoration: none;
  color: #111;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  margin-left: 30px;
  cursor: pointer;
}

/*Sessão Title*/
.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  padding: 0 152px;
}

.titulo__div {
  font-weight: 700;
  font-size: 52px;
  color: #464646;
  margin-bottom: 24px;
}

.titulo__bio {
  font-weight: 700;
  font-size: 52px;
  color: #464646;
  margin-bottom: 24px;
}

.titulo__subsection {
  font-weight: 400;
  font-size: 22px;
  color: #464646;
  margin-bottom: 26px;
}

.titulo__network {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 60px;
}

.titulo__network__item {
  font-weight: 500;
  font-size: 16px;
}

.titulo__network__item a {
  color: #464646;
  text-decoration: none;
}

.titulo-imagem-perfil img {
  width: 368px;
  height: 368px;
  border-radius: 70%;
}

/*Sessão Sobre*/
section.sobre {
  background-color: #EAF2FD;
  width: 100%;
  padding: 64px 152px;
}

.sobre__titulo {
	font-weight: 700;
	font-size: 32px;
	color: #464646;
	margin-bottom: 16px;
}

.sobre__desc {
	font-weight: 400;
	font-size: 16px;
	color: #464646;
	width: 751px;
	margin-bottom: 30px;
}

.sobre-img {
	margin-top: -15px;
}

/*Sessão Skills e Hobbies*/
section.skills-hobbies-section {
	padding: 32px 152px 88px 152px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills__titulo {
	font-weight: 700;
	font-size: 32px;
	color: #464646;
	margin-bottom: 32px;
}

.skills__line {
  display: flex;
    justify-content: space-evenly;
    gap: 16px;
    margin-bottom: 88px;
}

.skills__box {
	width: 176px;
	height: 174px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 16px;
}

/*Sessão Hobbies*/
section.hobbies {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 88px;
  width: 1300px;
  height: 1245px;
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.hobbies__titulo {
  width: 127px;
  height: 38px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #464646;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.hobbies__line {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1136px;
  height: 174px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.hobbies__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 16px;
  gap: 8px;
  width: 176px;
  height: 174px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Experiência Acadêmica*/
section.formacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 82px;
  gap: 32px;
  width: 1349px;
  height: 581px;
  background: #eaf2fd;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.formacao__titulo {
  width: 330px;
  height: 38px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #464646;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.formacao__courses {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1136px;
  height: 347px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.formacao__courses__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  width: 368px;
  height: 286px;
  background: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.formacao__courses__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 368px;
  height: 347px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.formacao__courses__item__img {
  width: 192px;
  height: 130px;
  background: url(image);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.formacao__courses__item__titulo {
  width: 181px;
  height: 26px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #464646;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.formacao__courses__item__subtitulo {
  width: 90px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* experiência*/
section.experiencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 1136px;
  height: 1886px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.experiencia__section__titulo {
  width: 364px;
  height: 38px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #464646;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experiencia__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 1136px;
  height: 406px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experiencia__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 772px;
  height: 426px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experiencia__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 348px;
  height: 112px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.experiencia__titulo {
  width: 348px;
  height: 26px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #464646;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.experiencia__description {
  width: 348px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #464646;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.experiencia__repo {
  width: 84px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #2a7ae4;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.experiencia__demo {
  width: 73px;
  height: 19px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

experiencia__botao--repo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 560px;
  height: 51px;
  flex: none;
  order: 2;
  flex-grow: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  width: 116px;
  height: 51px;

  border: 1px solid #2a7ae4;

  flex: none;
  order: 0;
  flex-grow: 0;
}

experiencia__botao--demo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 560px;
  height: 51px;

  flex: none;
  order: 2;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  width: 105px;
  height: 51px;

  background: #2a7ae4;

  flex: none;
  order: 1;
  flex-grow: 0;
}

/*Contato*/
section.formcontato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  gap: 10px;

  width: 1300px;
  height: 788px;

  background: #eaf2fd;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.formcontato__contacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 64px 0px 0px;
  gap: 16px;

  width: 1136px;
  height: 660px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
formcontato--esquerda {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 64px 0px 0px;
  gap: 16px;

  width: 1136px;
  height: 660px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.formcontato__img {
  width: 464px;
  height: 593px;

  background: url(.jpg), #ededed;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 656px;
  height: 596px;

  flex: none;
  order: 1;
  flex-grow: 1;
}

.formcontato__titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 656px;
  height: 84px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.formcontato__subtext {
  width: 656px;
  height: 38px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #464646;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 656px;
  height: 397px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.formcontato__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 656px;
  height: 56px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.formcontato__textarea {
  width: auto;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
  flex: auto;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  position: static;
  height: auto;
  left: 0%;
  right: 0%;
  top: 55px;
}

.formcontato__botao {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  width: 165px;
  height: 51px;

  background: #2a7ae4;

  flex: none;
  order: 2;
  flex-grow: 0;
}

/*footeer*/
section.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 10px;

  width: 1300px;
  height: 102px;

  background: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer__rodape {
  width: 234px;
  height: 38px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #464646;

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Experiência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
